<%- include('../partials/header') -%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!!</h1>
            <p>View our hand picked campgrounds from all over the country!</p>
            
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    <% for (let campground of campgrounds){ %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= campground.image %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %> </h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 
    <!-- <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(campground => { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <image src="<%= campground.image %>" class="img">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info!</a>
                    </p>
                </div>
            </div>
            <% }) %>
    </div> -->
</div> 

<%- include('../partials/footer') -%>

