<% layout('layouts/boilerplate')%>
<div id="map" style="width: 100%; height: 500px"></div>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!!</h1>
            <p>View our hand picked campgrounds from all over the country!</p>
            
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    <% for (let campground of campgrounds){ %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) { %>
                        <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                    <% } else { %>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/self-hosted/image/upload/v1649773314/YelpCamp/vaqjuohnqebigakdgki3.jpg">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %> </h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 
    
</div> 

<script>
    const mapToken = 'pk.eyJ1IjoibW9yeXNvIiwiYSI6ImNsMXdhbmxsMjI3cWozZGxtY2NvMDd4cHoifQ.cE20aBSSJiURhhxblRP0pQ';
    // const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
